<label for="wormhole" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="wormhole" class="margin-toggle"/>
<span class="sidenote">
<strong>Solar active region:</strong> is a location in the Sun's atmosphere with a significant increase in the intensity and complexity of its magnetic field, usually seen as a sunspot region. These regions are often associated with solar phenomena such as solar flares and coronal mass ejections, which can have significant impacts on space weather and technology on Earth. Active regions are generally hotter and brighter than the surrounding areas of the Sun.
</span>
