<label for="wormhole" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="wormhole" class="margin-toggle"/>
<span class="sidenote">
<strong>Região solar ativa:</strong> é um local da atmosfera solar com grande aumento da intensidade e complexidade do seu campo magnético, o que normalmente é visualizado como uma região de manchas solares. Essas regiões são frequentemente associadas a fenômenos solares como erupções solares e ejeções de massa coronal, que podem ter impactos significativos no clima espacial e na tecnologia na Terra. As regiões ativas são geralmente mais quentes e mais brilhantes do que as áreas circundantes do Sol.
</span>