<label for="cancer-es" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="cancer-es" class="margin-toggle"/>
<span class="sidenote"><strong>Cáncer</strong> (_lat cancer_ = cangrejo): gran grupo de enfermedades muy diferentes entre sí, que tienen en común la proliferación celular incesante y desordenada, la capacidad de invadir localmente tejidos sanos del organismo y la capacidad de diseminarse a lugares distantes (metástasis). Los diversos tipos de cáncer se originan teóricamente de _una sola célula_ (origen clonal) que sufrió mutaciones en su código genético. Más información [aquí](../../../2017/03/01/O-que-e-o-cancer.html).
</span>
