<label for="cancer" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="cancer" class="margin-toggle"/>
<span class="sidenote">Cancer (from Latin cancer = crab): a large group of very different diseases, all characterized by incessant and disordered cell proliferation, the ability to locally invade healthy tissues, and the ability to spread to distant sites (metastasis). The various types of cancer theoretically originate from a single cell (clonal origin) that has undergone mutations in its genetic code. Learn more [here](../../../2017/03/01/what-is-cancer.html).</span>
