<label for="realidade-vs-opiniao" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="realidade-vs-opiniao" class="margin-toggle"/>
<span class="sidenote">
<strong>Realidade vs. Opinião:</strong> A realidade física é independente das crenças e opiniões humanas. O papel da ciência é descrever essa realidade com o máximo de precisão possível. Em seu livro, mais de denúncia do que de divulgação, <em>O Mundo Assombrado pelos Demônios</em>, o astrônomo Carl Sagan (EUA, 1934) descreve diversas maneiras pelas quais as limitações dos sentidos, da cognição e das sociedades humanas podem levar as pessoas a acreditar em afirmações completamente dissociadas da realidade. É frequentemente mais fácil acreditar e defender informações falsas, justamente porque estas não exigem validação externa.<br>
<em>Para saber mais: Sagan, C. O Mundo Assombrado pelos Demônios. Tradução: Rosaura Eichenberg. Companhia das Letras, 1996.</em>
</span>