<label for="reality-vs-opinion" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="reality-vs-opinion" class="margin-toggle"/>
<span class="sidenote">
<strong>Reality vs. Opinion:</strong> Physical reality is independent of human beliefs or opinions. The role of science is to describe this reality as accurately as possible. In his book—more a critique than a popularization—<em>The Demon-Haunted World</em>, astronomer Carl Sagan (USA, 1934) describes how the limitations of human senses, cognition, and society can lead people to believe in claims far removed from reality. It is often easier to believe and defend false information precisely because it does not require external validation.<br>
<em>Further reading: Sagan, C. The Demon-Haunted World. Ballantine Books, 1997.</em>
</span>
