<label for="realidade-vs-opiniao" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="realidade-vs-opiniao" class="margin-toggle"/>
<span class="sidenote">
<strong>Realidade vs. Opinião:</strong> A realidade física é independente das crenças ou opiniões humanas. O papel da ciência é descrever essa realidade da forma mais precisa possível. Em seu livro de denúncia, mais do que divulgação, _O Mundo Assombrado pelos Demônios_, o astrônomo Carl Sagan (EUA, 1934) descreve variadas formas como as imperfeições dossentidos, da cognição e das sociedades humanas podem levar as pessoas a acreditarem em afirmações absolutamente distantes de qualquer realidade. É mais fácil acreditar e defender informações falsas justamente porque elas não precisam de validação externa.<br>
<em>Leia mais: Sagan, C. O Mundo Assombrado pelos Demônios. Tradução: Rosaura Elchenberg. Companhia das Letras, 1996.</em>
</span>