<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    palette: {
      popup: { background: "#222" },
      button: { background: "#14a7d0" }
    },
    theme: "classic",
    content: {
      message: "Este site utiliza cookies para melhorar sua experiência.",
      dismiss: "Entendi!",
      link: "Saber mais",
      href: "/sobre/politica-de-privacidade"
    }
  })
});
</script>
