<label for="epidemiologia" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="epidemiologia" class="margin-toggle"/>
<span class="sidenote"><strong>Epidemiología</strong> (_gr epi = sobre; demos = pueblo; logos = estudio_):
   se propone estudiar cuantitativamente la distribución de los fenómenos de
   salud/enfermedad, y sus factores condicionantes y determinantes, en las poblaciones
   humanas. Es un campo de la ciencia que trata de los diversos factores genéticos, sociales
   o ambientales y condiciones derivadas de exposición microbiológica, tóxica,
   traumática, etc., que determinan la ocurrencia y la distribución de salud,
   enfermedad, discapacidad y muerte entre los grupos de individuos.
</span>
