<label for="foxp3-en" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="foxp3-en" class="margin-toggle"/>
<span class="sidenote">FOXP3: gene encoding a transcription factor essential for the development and function of regulatory T cells (Tregs). Loss-of-function mutations in FOXP3 lead to breakdown of immune tolerance, associated with severe autoimmune syndromes (e.g., IPEX in humans) and the "scurfy" phenotype in mice. FOXP3 controls gene expression programs that confer suppressive properties to Tregs.</span>
