<label for="gen" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="gen" class="margin-toggle"/>
<span class="sidenote"><strong>Gen</strong> (_gr gonos_ = generación, semilla): segmento de ADN que
  codifica una molécula (proteína) con una función. Corresponden a las unidades de herencia
  hipotetizadas por Mendel y denominadas genes por el botánico danés
  Johannsen en 1905. Constituyen una minoría del ADN de una célula. La mayor parte del ADN
  no codifica proteínas y, por lo tanto, no forma parte de los genes. La expresión "un gen,
  una proteína" resume el _dogma central de la biología_, de que la información genética
  se transfiere (codifica) del ADN al ARN y de este a una proteína.
</span>
