<label for="wormhole" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="wormhole" class="margin-toggle"/>
<span class="sidenote">
<strong>Solar wind:</strong> is a continuous flow of charged particles, mainly protons and electrons, ejected from the Sun's corona. These particles travel through space at speeds ranging from 300 to 800 km/s, depending on solar activity. The solar wind is responsible for various phenomena in space, including interaction with Earth's magnetosphere, which protects the planet from cosmic radiation and solar particles. During periods of high solar activity, such as solar flares or coronal mass ejections, the solar wind can intensify, causing geomagnetic storms that affect satellites, power grids, and communications on Earth.
</span>
