<!--- Hader and nav template site-wide -->
<header>
    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>
    <nav class="group">
	<a href="{{site.baseurl}}/"><img class="badge" src="{{site.baseurl}}/assets/img/mybadge.png" alt="CH"></a>
        {% assign pages=site.pages | where:"lang", page.lang %}
	{% for node in pages %}
		{% unless node.nav_exclude %}
		    {% if page.url == node.url %}
		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{{node.title}}</a>
		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a>
		    {% endif %}
	    {% endunless %}
  	{% endfor %}

  </nav>
<div class="wrapper" style="text-align: right; line-height: 2em">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    {% if post.lang == 'pt-br' %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="pt-br">Português</a>
    {% elsif post.lang == 'en' or post.lang == 'en-us' %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="en">English</a>
    {% elsif post.lang == 'es' %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="es">Español</a>
    {% endif %}
  {% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %}
    {% if page.lang == 'pt-br' %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="pt-br">Português</a>
    {% elsif page.lang == 'en' or page.lang == 'en-us' %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="en">English</a>
    {% elsif page.lang == 'es' %}
      <a href="{{ page.url | prepend: site.baseurl }}" class="es">Español</a>
    {% endif %}
  {% endfor %}
</div>
</header>
