<label for="hr" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="hr" class="margin-toggle"/>
<span class="sidenote">Hazard ratio (HR) is a statistical measure used in survival analysis to compare the risk of an event (such as death) between two groups over time. An HR greater than 1 means higher risk in the group of interest, while an HR less than 1 means lower risk. The HR expresses how much more (or less) likely the event is to happen in one group compared to another, considering the time until the event occurs.</span>
