<label for="ic" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="ic" class="margin-toggle"/>
<span class="sidenote">Confidence interval (CI) is a range of values that is likely to contain the true value of a parameter, such as a hazard ratio or odds ratio, with a certain level of confidence (usually 95%). For example, a 95% CI means that if the same study were repeated many times, about 95% of the calculated intervals would contain the true value. A wide CI indicates less certainty about the estimate, while a narrow CI indicates more precision.</span>
