<label for="matematica-na-ciencia" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="matematica-na-ciencia" class="margin-toggle"/>
<span class="sidenote">
<strong>Matemática na ciência:</strong> A matemática é a linguagem formal da ciência, permitindo descrever e prever fenômenos naturais 
com precisão. Embora o uso da matemática para descrever fenômenos naturais remonte pelo menos à antiga civilização da Mesopotâmia, 
a tradição científica ocidental moderna começou mesmo com a redescoberta de textos dos períodos clássico e helenístico da civilização 
Greco-romana e dos autores islâmicos. Ainda na Idade Média e na renascença, circularam na Europa traduções de experimentalistas islâmicos 
como Ibn al-Haytham (árabe, autor de um Livro de Óptica em 1021, defensor do ceticismo, empirismo, método indutivo e precursor da idéia da 
Navalha de Occam), Al-Biruni (persa da mesma época, defensor do cuidado com vieses observacionais e erros sistemáticos através da análise 
quantitativa) e Ibn Sina (ou Avicena, filósofo e médico persa que descreveu métodos indutivos análogos aos do empirista britânico John 
Stuart Mill). Precursores ocidentais do método científico, como os ingleses Robert Grosseteste e Francis Bacon (século 13), foram influenciados 
por estes textos. O século 16 viu surgirem catalistas importantes como a imprensa de Gutenberg (século 15), a revolução Copernicana, a astronomia de 
Tycho Brahe (Dinamarca) e seu assistente Johannes Kepler (Alemanha), além de um ambiente socio-politico-economico emergente baseado no 
colonialismo, levando ao que foi denominado, no século 20, de "revolução científica". Nessa época, novas traduções recuperaram o pensamento 
empirista de Galeno de Pérgamon (médico, século 2, Ásia Menor) e o ceticismo de Sexto Empírico (filósofo, século 2, Império Romano), que se 
tornaram amplamente influentes na Europa. Porém, o grande precursor do método observacional moderno e da descrição matemática rigorosa das
ciências foi o italiano de Pisa, Galileu Galilei. Em 1623 ele publicou Il Saggiatore (O Ensaiador), uma obra na forma de uma carta ao Papa
Urbano Oitavo, na qual enuncia sua famosa frase _"A filosofia encontra-se escrita neste grande livro (...), o universo, (...) em língua matemática."_
Nessa época, não havia a distinção que se faz hoje entre ciência e filosofia. Uma das coisas que chama a atenção nesse livro de 
Galileu é sua denúncia sobre as mentiras, a difamação e a perseguição que suas idéias lhe renderam. Isso culminaria com sua prisão domiciliar 
em 1633. É preciso lembrar que Galileu não foi jogado na prisão ou até executado por ser amigo pessoal do papa. Mas sua obra mais famosa,
"Diálogo sobre os Dois Principais Sistemas do Mundo" foi demais para a igreja por defender o heliocentrismo de uma forma que ridicularizava 
o sistema aristotélico geocêntrico. Todavia, é em "O Ensaiador", considerado seu principal "manifesto", onde suas idéias sobre o método científico
estão expostas. <br>
<em>Leia mais: Galileu Galilei, O Ensaiador, Abril Cultural, tradução de Helda Barraco, 1973.</em>
</span>