<label for="scientific-method" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="scientific-method" class="margin-toggle"/>
<span class="sidenote">
<strong>Scientific method:</strong> A systematic process of observation, hypothesis formulation, experimentation, and revision. Scientific knowledge is always provisional and subject to revision in light of new evidence. This process, known as inductivism, has roots in early Western civilization. Epicurus (Samos, Greece, 341 BCE) was among the first to advocate for materialism based on empirical knowledge. The reform of classical inductivism began in the Middle Ages, particularly in the Arab and Eastern worlds. Modern empiricist inductivism was both advanced and challenged in the 19th and 20th centuries, with positivism, falsificationism, and the relativism of Feyerabend (Austria, 1924). Chalmers (England, 1939) sought to demystify the scientific method, noting its quasi-religious status in modern society.<br>
<em>Further reading: Chalmers, A. F. What Is This Thing Called Science? Hackett, 2013.</em>
</span>
