<label for="or" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="or" class="margin-toggle"/>
<span class="sidenote">Odds ratio (OR) is a statistical measure that expresses the odds of an event occurring in one group compared to another. In medical studies, an OR greater than 1 suggests higher odds, while an OR less than 1 suggests lower odds for the event in question. The OR is commonly used to compare the chance of an outcome between two groups, such as exposed and non-exposed individuals.</span>
