<label for="urgencia-cientifica" class="margin-toggle sidenote-number"></label>
<input type="checkbox" id="urgencia-cientifica" class="margin-toggle"/>
<span class="sidenote">
<strong>Nota do autor:</strong> Este texto, revisado após quase 8 anos, apresenta algumas simplificações e deficiências previsíveis. O panorama geral, porém, permanece verdadeiro. Atualmente, vivemos uma profunda crise de incompreensão e falta de instrução sobre fatos científicos, tornando reflexões como esta cada vez mais urgentes.
</span>